@inject IJSRuntime JSRuntime

<MudPaper Style="@_paperStyle" Elevation="0" Square="true" Class="pa-2 d-flex relative mud-color-box">
    <MudText Typo="Typo.body2" Style=@($"color: {_fgColor}; font-weight: 500;") Class="role-name-text">@ColorRoleName</MudText>

    <div class="hover-content d-flex align-center cursor-pointer copy-trigger" @onclick="CopyColorToClipboard">
        <MudText Typo="Typo.body2" Style="@($"color: {_fgColor}; font-weight: 500;")" Class="mr-2">@_bgColor</MudText>
        <MudIcon Icon="@Icons.Material.Filled.ContentCopy"
                 Size="Size.Small"
                 Style="@($"color: {_fgColor};")" />
    </div>
</MudPaper>

<style>
    .mud-color-box .hover-content {
        display: none !important;
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .mud-color-box:hover .hover-content {
        display: flex !important;
    }

    .mud-color-box:hover .role-name-text {
        visibility: hidden;
    }

    .copy-trigger:active {
        opacity: 0.5;
    }
</style>

@code {
    public enum HeightStyle
    {
        Small,
        Normal,
        Large
    }

    [Parameter]
    public RgbColor Background { get; set; } = RgbColor.FromArgb(0xFFFFFF);

    [Parameter]
    public RgbColor Foreground { get; set; } = RgbColor.FromArgb(0x000000);

    [Parameter]
    public string ColorRoleName { get; set; } = string.Empty;

    [Parameter]
    public HeightStyle Height { get; set; } = HeightStyle.Small; 

    private string _bgColor => Background.ToHtml();
    private string _fgColor => Foreground.ToHtml();
    string _height => $"{HeightMap(Height)}px";

    private int HeightMap(HeightStyle heightStyle)
    {
        return heightStyle switch
        {
            HeightStyle.Small => 40,
            HeightStyle.Large => 80,
            _ => 64
        };
    }

    private string _paperStyle => $"background-color: {_bgColor}; color: {_fgColor}; height: {_height};";

    private async Task CopyColorToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", _bgColor);
    }
}
